extends layout

block content

block content
  h1= title
  form(action='/poiAnlegen/finish' method='post')
    fieldset
      .form-group.row
        label.col-sm-1.col-form-label(for='poiname') Name
        .col-sm-4
          input#poiname.form-control(type='text' name="pname" placeholder='Enter POI Name')
      .form-group.row
        label.col-sm-1.col-form-label(for='x') X
        .col-sm-4
          input#x.form-control(type='text' name="x" placeholder='X Koordinate')
      .form-group.row
        label.col-sm-1.col-form-label(for='y') Y
        .col-sm-4
          input#y.form-control(type='text' name="y" placeholder='Y Koordinate')
      button.btn.btn-primary.mb-2(type='submit')#speichern Speichern
  #map
  script(src='javascripts/poiAnlegen.js')

