extends layout

block content
  h1= title

  form(action='/poiLoeschen/finish' method='post')
    fieldset
      .form-group.row
        label.col-sm-1.col-form-label(for='name') Name
        .col-sm-4
          input#poiname.form-control(type='text' name="name" placeholder='Enter POI Name')
      button.btn.btn-primary.mb-2(type='submit') Loeschen
 
